*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: darkgrey;
}



img{
    width: 100%;
}

.heading::after{
    content: "";
    display: block;
    width: 200px;
    border-bottom: 2px solid green;
    margin: 2% auto;
}


   


footer{
    height: 70px;
    max-width: 100%;
    background-color: floralwhite;
}

footer p{
    text-align: center;
    margin-top: 10%;
    line-height: 70px;
    
}
